.agencymap{
    display: flex;
	justify-content: space-between;
    padding: 15vh 5vw;
    position: relative;
    overflow: hidden;
    background-color: #F8F8F8;

    img{
        width: 430px;
        height: 430px;
        position: absolute;
        bottom: -12vh;
        left: -8vw;
    }
    h1{
        width: 25vw;
        font-size: 2.5rem;
        font-weight: 700;
        z-index: 10;
        color: #EE3325;
    }    
    .agencymap-search, .agencymap-map{
        min-height: 40vh;
        width: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      

        label{
            font-size:1.3rem;
            font-weight: 900;
            color: #6B6B6B;
        }
        select{
            width: 100%;
            border: 0;
            border-bottom: 1px solid #6B6B6B;
            color: #6B6B6B;
            background-color: #F8F8F8;
        }
        button{
            text-align: end;
            border: 0;
            color:#0083CA;
            background-color: #F8F8F8;
        }
    }
    .agencymap-map{
        padding:0.5%;
        background-color: #fff;        

        iframe{
            width: 100%;
            height: 80%;
        }
    }
}