.footer{
    min-width: 40vh;
    display: flex;
    justify-content: space-between;
    background-color: #EE3325;

    .footer-blockimage{
        width: 30vw;

        img{
            width: 90%;
            // height: 100%;
        }
    }
    .footer-blockaddress, .footer-blocklinks{
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10vh;
        line-height: 5vh;
        
        
        span{
            display: flex;
            margin-top: 2vh;
            color: #fff;
        } 
    }
    .footer-blockcopyright{
         margin-top: 5vh;
    }
    .footer-blocklinks{
        width: 15vw;
        line-height: 4vh;
        a{
            color: #fff;
        }
        .link{
            margin-bottom: 5vh;
        }
        img{
            height: 20vh;
        }
    }
}