#header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .menu{
        min-height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 5vw;

        img{
            height: 5vh;
        }
        .navbar{
            width: 45vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 1.1rem;           
        }
        a{
            font-weight: 700;
            margin: 5px;
            color: #EE3325;
        }
        .navbarMobile{
            display: none;
        }         
    }
    .banner{ 
        min-height: 85vh; 
        min-width: 100%;      
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 5vw;
        background-image: url(assets/femaleheader.png);
        background-size: cover;
        background-repeat: no-repeat;
        
        .banner-contact{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 15vw;
            height: 10vh;
            border-radius: 30px;
            padding: .8rem;
            position: absolute;
            right: 5vw;
            bottom: 20vh;
            z-index: 10;
            background-color: #ee3325;
            display: none;

            img{
                height: 7vh;
            }

            p{
                width: 50%;
                font-size: 1rem;
            }
        }
        form{
            width: 22vw;
            display: flex;
            flex-direction: column;
            z-index: 10;
            border-radius: 10px;
            background-color: #fff;
            display: none;

            .sheet{
                height: 7vh;
                flex-direction: row;
                align-items: center;
                color: #fff;
                padding: 5% 5% 5% 28%; 
                border-radius: 10px 10px 0 0 ;
                background-color: #EE3325;

                span{
                    font-size: 2rem;
                }

                p{
                    font-size: 1rem;
                }
            }
            .submit{
                flex-direction: row;
                justify-content: flex-end;
                padding-right: 10%;

                .inputWhite, .inputRed{
                    width: 40%;
                    height: 5vh;
                    border: 1px solid #EE3325;
                    color: #EE3325;
                    background-color: #fff;
                }
                .inputRed{
                    border: 1px solid #EE3325;
                    color: #fff;
                    background-color: #EE3325;
                    margin-left: 1vw;
                }
            }
            
            div{
                display: flex;
                flex-direction: column;
                padding: 2%;

                input, textarea{
                    border: 1px solid #D2D2D2;
                    border-radius: 5px;
                }
            }
        }
        
        p{
            width: 35vw;
            font-size: 2.2rem;
            font-weight: bold;
            z-index: 10;
            color:#FFF;
        }
    }
    .banner:after{        
        content:"";
        position: absolute;
        width: 100%;
        min-height: 46%;
        top: 56%;
        left: 0;
        background: linear-gradient(to bottom, rgba(0,131,202,0) 0%, rgba(0,131,202,0.62) 40%,  rgba(0,131,202,1) 80%,  rgba(0,131,202,1) 90%, rgba(0,131,202,1) 100%);
    }    
}

@media  (max-width: 768px) {
    #header{
        position: relative;

        .menu{
            .navbar{
                display: none;
            }
            .navbarMobile{
                display: block;
            }
            .navbarMobile-text {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: rgba(238,51,37,1);
                font-size: 0.8rem;
                margin-right: 20px;
                display: block;
                cursor: pointer;                
            }
            .navbarMobile-menu{  
                width: 100%;
                height: 100vh;              
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                line-height: 15vh;
                right: 0;
                top: 0;
                background-color: #fff;
                z-index: 20;
                display: none;

                .close-icon{
                    font-size: 4rem;              
                }
                a{
                    font-size: 2rem;
                    z-index: 10;
                }
            }
        }
    }
}
@media (max-width: 425px){
    #header{
        .banner{
            align-items: flex-end;
            background-position: center;

            p{
                width: 100%;
                font-size: 1.8rem;
                padding: 0 0 30% 10%;
            }
        }
    }
    
}  