.history{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15vh 5vw;
    position: relative;
    overflow: hidden;
	color: #fff;
    background-color: #0083CA;
    
    .slide{
        width: 55vw;
        min-height: 80vh;
        position: relative;
        
        
        .slide-block{
            display: flex;
            justify-content: center;

            label{
                width: 90%;

                .slide-block-image{
                    height: 85vh;
                    margin: 0 2vw;
                }
                .slide-block-arrow{
                    height: 5vh;
                    position: absolute;
                    top: 40vh;
                }  
            } 
            input{
                display: none;

            }    
        }
    }
    p{  
        width: 25vw;
        font-size: 1.4rem;
        font-weight: 900;
        font-style: italic;
        color: #fff;
        z-index: 10;
    }
    .ballbig{
        min-width: 50vw;        
        min-height: 100vh;
        position: absolute;
        right: -10vw;
        border-radius: 50%;
        background-color: #FFF;
        opacity: 0.1;
    }
    
}
@media (max-width: 768px){
    .history{
        flex-direction: column-reverse;
        padding: 15vh 0;

        p{
            width: 70%;
            margin-bottom: 5vh;
        }
        .slide{
            width: 100%;

            .slide-block{ 
                label{
                    width: 100%;

                    .slide-block-image{
                        width: 90%;
                    }
                    .slide-block-arrow{
                        bottom: 0;
                        left: 75%;
                        margin-top: 50vh;
                    }
                    .slide-block-arrow--margin{
                        margin-left: -50vw;
                    }
                }
            }
        }
        .ballbig{
            display: none;
        }
    }
    
}  
